USE [SevDB]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 10/30/2022 1:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [nchar](50) NULL,
	[TEACHER_ID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_COURSE]    Script Date: 10/30/2022 1:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_COURSE](
	[STUDENT_ID] [int] NOT NULL,
	[COURSE_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC,
	[COURSE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 10/30/2022 1:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TEACHERS]    Script Date: 10/30/2022 1:21:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEACHERS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [nchar](50) NULL,
	[LASTNAME] [nchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_TEACHERS] FOREIGN KEY([TEACHER_ID])
REFERENCES [dbo].[TEACHERS] ([Id])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_TEACHERS]
GO
ALTER TABLE [dbo].[STUDENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_COURSES] FOREIGN KEY([COURSE_ID])
REFERENCES [dbo].[COURSES] ([Id])
GO
ALTER TABLE [dbo].[STUDENT_COURSE] CHECK CONSTRAINT [FK_STUDENT_COURSE_COURSES]
GO
ALTER TABLE [dbo].[STUDENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_STUDENTS] FOREIGN KEY([STUDENT_ID])
REFERENCES [dbo].[STUDENTS] ([Id])
GO
ALTER TABLE [dbo].[STUDENT_COURSE] CHECK CONSTRAINT [FK_STUDENT_COURSE_STUDENTS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [CK_COURSES_DESCRIPTION] CHECK  ((len([DESCRIPTION])>=(6)))
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [CK_COURSES_DESCRIPTION]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(2)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_FIRSTNAME]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [CK_STUDENTS_LASTNAME] CHECK  ((len([LASTNAME])>=(4)))
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [CK_STUDENTS_LASTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_FIRSTNAME] CHECK  ((len([FIRSTNAME])>=(2)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_FIRSTNAME]
GO
ALTER TABLE [dbo].[TEACHERS]  WITH CHECK ADD  CONSTRAINT [CK_TEACHERS_LASTNAME] CHECK  ((len([LASTNAME])>=(4)))
GO
ALTER TABLE [dbo].[TEACHERS] CHECK CONSTRAINT [CK_TEACHERS_LASTNAME]
GO
