
body {
    
    display:flex;
    flex-flow: column;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    
}
    
.container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(8, 32, 50);
    padding: 5px 0px;
    align-content:center;
}
.pagesContainer{
    display:flex;
}

a {
    text-decoration: none;
    color: rgb(255, 76, 41);
}

.pages {
    padding: 10px 15px;
    margin: 10px 30px;
    background-color: rgb(44, 57, 75);
    font-size: 20px;
    border-radius: 8px;
}

    .pages:hover>a  {
        color: white;
    }
    .pages:hover {
      transform:scale(1.11);
    }


footer {
    margin-top: auto;
}

.footer {
    background-color: rgba(244, 136, 16);
    color: rgba(47.8, 23.5, 16.5);
    padding: 10px;
    line-height:10px 0px;
    font-size: 15px;
    text-align: center;
}
div.database{
    margin:auto;
    
}
.database-container {
    background-color: rgb(51, 71, 86);
    flex-grow: 1;
    padding: 0px 30px;
    justify-items: center;
}

.database {
    display: flex;
    justify-content: center;
    width: max-content;
    padding: 10px;
    background-color: rgb(44 57 75);
    border: 2px solid rgb(255 243 193 / 47%);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 10px 15px 15px #00000070;
}
    .database form {
        font-size: 20px;
        text-align: center;
        color: rgba(244, 136, 16);
        
    }



table, td, tr, th {
    font-size: 15px;
    color: rgb(244 136 16);
    border-bottom: 2px solid #c0ad7670;
    padding: 4px 6px;
}
table{
    border-bottom:none;
}

h2,th {
    text-align: center;
    color: lightyellow;
    
}
h2{
    font-size:35px;
}
.button-container{
    display:flex;
    justify-content:center;
    margin-top:15px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c394b;
    width: 150px;
   
    border: 1px solid lightyellow;
    border-radius: 5px;
}

.btns {
    display: flex;
    border-bottom: none;
    row-gap:20px;
}

a.button{
    padding:10px 0px;
    margin :0px 10px;
}

a.button:hover,button:hover,#new:hover {
    transform: scale(1.11);
}
#new {
    padding: 4px;
    margin:20px;
}
form{
    padding:20px;
}
input{
    padding:10px;
    margin:10px;
    border-radius :10px;
}
button {
    color: orangered;
    font-family: 'Montserrat', sans-serif;
    font-size:inherit;
    
}

.submitCancelButtons{
    margin-top:10px;
    display:flex;
  
}

#welcome{
    margin-top:100px;
    display:flex;
    flex-direction:column;
    
    align-items:center;
}

.dropdown-list {
    padding: 10px;
    margin: 10px;
    width:190px;
    border-radius: 10px;
}
select#courseId.dropdown-list {
    
    width:190px;
    border-radius: 10px;
}
select#teacherId.dropdown-list {
   
    width: 190px;
    border-radius: 10px;
}
 img{
     width:100px;
     height:auto;
 }
.error {
    font-size: 20px;
    color: #fcfcb8;
    text-align: center;
    margin-top: 50px;
}