@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="database form" id="welcome">
    <div>
    <h2 >Welcome to Student's Management App! </h2>
    </div>
    <div>
        <img src="~/images/presentation.png" />
    </div>
</div>
